<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/editor.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Oswald&display=swap" rel="stylesheet">
    <script defer src="https://kit.fontawesome.com/5de75ec50a.js"></script>
    <script defer src="/js/editor.js"></script>
    <title>Resume Builder</title>
</head>
<body class="flex-col">
  <header>
      <a href="/home"><h1>Resume Builder</h1></a>
    <a class="button" href="/logout">Log Out</a>
  </header>
  <main>
    <div id="editor-section">
      <!-- For some reason, autocomplete does not work on this form -->
      <form action="#" id="editor" class="flex-col" autocomplete="off" data-id="<%= resume.id %>">
        <input type="hidden" name="id" value="<%= resume.id %>">
        <section class="flex-wrap">
          <h2>Personal Info</h2>
          <label>Name
            <input name="name" value="<%= resume.name %>">
          </label>
          <label>Picture URL
            <input name="profilepic" type="file" accept="image/*">
          </label>
          <label>Work Title
            <input name="worktitle" value="<%= resume.worktitle %>" placeholder="Student, Electrician">
          </label>
          <label>Email
            <input name="email" type="email" value="<%= resume.email %>">
          </label>
          <label>Phone
            <input name="phone" type="number" value="<%= resume.phone %>">
          </label>
          <label>Address
            <input name="address" value="<%= resume.address %>">
          </label>
          <label>Post Code
              <input name="postcode" type="number" value="<%= resume.postcode %>">
            </label>
          <label>City
            <input name="city" value="<%= resume.city %>">
          </label>
        </section>
        <section>
          <h2>Professional Summary</h2>
          <p>A few sentences about your overall work experience.</p>
          <textarea name="summary" rows="8"><%= resume.summary %></textarea>
        </section>
        
        <section class="flex-col">
          <h2>Experiences</h2>
          <p>Add employment history, education, certifications and more.</p>
          <% experiences.forEach(function(exp) { %>
            <div class="experience flex-wrap">
              <input type="hidden" name="exp[<%= exp.id %>][id]" value="<%= exp.id %>">
              <button type="button" class="button-delete delete-experience-btn" data-id="<%= exp.id %>"><i class="fas fa-trash-alt"></i></button>
              <label>Title
                <input name="exp[<%= exp.id %>][title]" value="<%= exp.title %>">
              </label>
              <label>Location
                <input name="exp[<%= exp.id %>][location]" value="<%= exp.location %>">
              </label>
              <label>Start
                <input name="exp[<%= exp.id %>][start]" value="<%= exp.start %>">
              </label>
              <label>End
                <input name="exp[<%= exp.id %>][end]" value="<%= exp.end %>">
              </label>
              <label>Summary
                <textarea name="exp[<%= exp.id %>][summary]" rows="6"><%= exp.summary %></textarea>
              </label>
            </div>
          <% }); %>
          <button type="button" id="new-experience-btn">New Experience</button>
        </section>
      </form>
    </div>
    <div id="preview-section">
      <div class="preview-wrapper">
        <iframe id="preview" src="/resume/<%= resume.id %>" class="preview paper a4"></iframe> 
      </div>
      <div id="preview-hover">
        <button type="button" id="toggle-editor-btn">Editor <i class="fas fa-toggle-on"></i></button>
        <button type="button" id="update-btn">Update <i class="fas fa-sync-alt"></i></button>
        <button type="button" id="print-btn">Print <i class="fas fa-print"></i></button>
      </div>
    </div>
  </main>
</body>
</html>