<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/main.css">
    <script defer src="../js/main.js"></script>
    <!-- <link rel="stylesheet" href="../css/main.css">
    <link rel="stylesheet" href="../public/css/main.css"> -->
    <title>Resume Builder</title>
</head>
<body>
  <header>
    <h1>Resume Builder</h1>
    <a href="/logout">Log Out</a>
  </header>
  <main>
    <section id="editor">
      <div class="inner">
        <form action="#" method="post" enctype="multipart/form-data" id="resumeForm" autocomplete="off">
        <h2>Personal Info</h2>
        <div id="resumeInput">
          <input type="hidden" name="id" value="<%= resume.id %>">
          <div>
            <label for="name">Name</label>
            <input name="name" value="<%= resume.name %>">
          </div>
          <div>
            <label for="picture">Picture URL</label>
            <input name="picture" value="<%= resume.picture %>">
          </div>
          <div>
            <label for="work-title">Work Title</label>
            <input name="worktitle" value="<%= resume.worktitle %>">
          </div>
          <div>
            <label for="input">Email</label>
            <input name="email" type="email" value="<%= resume.email %>">
          </div>
          <div>
            <label for="phone">Phone</label>
            <input name="phone" type="number" value="<%= resume.phone %>">
          </div>
          <div>
            <label for="address">Address</label>
            <input name="address" value="<%= resume.address %>">
          </div>
          <div>
            <label for="city">City</label>
            <input name="city" value="<%= resume.city %>">
          </div>
          <div>
            <label for="postcode">Post code</label>
            <input name="postcode" type="number" value="<%= resume.postcode %>">
          </div>
          <div>
            <label for="summary">Summary</label>
            <textarea name="summary" rows="8"><%= resume.summary %></textarea>
          </div>
        </div>
        
        <h2>Experience</h2>
        <% experiences.forEach(function(exp) { %>
          <div class="experience">
            <input type="hidden" name="exp[<%= exp.id %>][id]" value="<%= exp.id %>">
            <div>
              <label for="exp[<%= exp.id %>][title]">Title</label>
              <input name="exp[<%= exp.id %>][title]" value="<%= exp.title %>">
            </div>
            <div>
              <label for="exp[<%= exp.id %>][location]">Location</label>
              <input name="exp[<%= exp.id %>][location]" value="<%= exp.location %>">
            </div>
            <div>
              <label for="exp[<%= exp.id %>][start]">Start</label>
              <input name="exp[<%= exp.id %>][start]" value="<%= exp.start %>">
            </div>
            <div>
              <label for="exp[<%= exp.id %>][end]">End</label>
              <input name="exp[<%= exp.id %>][end]" value="<%= exp.end %>">
            </div>
            <div>
              <label for="exp[<%= exp.id %>][summary]">Summary</label>
              <textarea name="exp[<%= exp.id %>][summary]" rows="8"><%= exp.summary %></textarea>
            </div>
          </div>
        <% }); %>

        <button>Save</button>
        </form>
      </div>

    </section>
    <section id="preview">
      <div id="preview-inner">
        <iframe id="resumeIframe" src="/resume" class="paper"></iframe> 
      </div>
      <button id="refreshResume">Refresh resume</button>
      <button id="toggleEditor">Toggle editor</button>
    </section>
  </main>
</body>
</html>