<html lang="en">
  <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link rel="stylesheet" href="css/resume.css">
      <!-- <link rel="stylesheet" href="../css/resume.css">
      <link rel="stylesheet" href="../public/css/resume.css"> -->
      <title>Resume Preview</title>
  </head>
  <body>
      <aside>
       <img src="<%- resume.picture %>" alt="profile picture" id="picture">
        <section id="contact-info">
          <h3>Contact Info</h3>
          <ul>
            <li id="email"><%= resume.email %></li>
            <li id="phone"><%= resume.phone %></li>
            <li id="address"><%= resume.address %></li>
            <li><span id="postcode"><%= resume.postcode %></span> <span id="city"><%= resume.city %></span></li>
          </ul>  
        </section>
 
      </aside>
      <div class="content">
        <header>
          <h1 id="name" class="capitalize"><%= resume.name %></h1>
          <h2 id="work-title"> <%= resume.worktitle %> </h2>
          <p id="about" class="summary"></p> <%= resume.summary %> </p>
        </header>
        <section id="experience">
          <h3>Experience</h3>
          <% experiences.forEach(function(exp) { %>
            <div class="wrapper">
              <p class="duration"><time><%= exp.start %></time> - <time><%= exp.end %></time></p>
              <h4><span class="title"><%= exp.title %></span> - <span class="origin"><%= exp.location %></span></h4>
              <p class="summary"><%= exp.summary %></p>
            </div>
          <% }); %>
        </section>
      </div>
  </body>
</html>