<html lang="en">
  <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link href="css/resume.css" rel="stylesheet">
      <link href="https://fonts.googleapis.com/css?family=Oswald&display=swap" rel="stylesheet">
      <!-- Title is invisible character as I was not able to remove during print -->
      <title>&#65279;</title>
  </head>
  <body>
      <aside>
       <img src="<%- resume.picture %>" alt="profile picture" id="picture">
        <section>
          <h3>Contact Info</h3>
          <ul>
            <li><%= resume.email %></li>
            <li><%= resume.phone %></li>
            <li><span class="capitalize"><%= resume.address %></span></li>
            <li><%= resume.postcode %> <span class="capitalize"><%= resume.city %></span></li>
          </ul>  
        </section>
      </aside>
      <main>
        <header>
          <h1><%= resume.name %></h1>
          <h2><%= resume.worktitle %></h2>
          <p><%= resume.summary %></p>
        </header>
        <section>
          <h3>Experience</h3>
          <% experiences.forEach(function(exp) { %>
            <div class="experience">
              <p class="duration"><time><%= exp.start %></time> - <time><%= exp.end %></time></p>
              <h4><span class="title"><%= exp.title %></span> - <span class="location"><%= exp.location %></span></h4>
              <p><%= exp.summary %></p>
            </div>
          <% }); %>
        </section>
      </main>
  </body>
</html>